/* Reset and General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Bar */
header {
    background: #222;
    padding: 29px 0;
    text-align: center;
    height: 87px;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    color: white;
}
.logo {
    font-size: 24px;
}
.logo span {
    color: #8eb1c8;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    cursor: pointer;
    text-decoration: underline;
}





/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('background.avif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.hero h1 {
    font-size: 40px;
}
.hero span {
    color: #8eb1c8;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #752929;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Sections */
.about, .projects, .contact {
    text-align: center;
    padding: 50px 20px;
    background: #344e60;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.about{
    background: #82889a;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    height: 50vh;

}
.about p{
    font-size: 20px;;
    padding: 13px 168px 1px 231px;
}
.contact
{
 color: white;
 background: #816c83;
}

/* Projects */
.project-card {
    background: #ddd;
    padding: 20px;
    margin: 10px auto;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #000000;
    margin-top: 32px;
}

/* Contact Form */
form {
    max-width: 400px;
    margin: auto;
}
form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 2px 3px 5px black;
    border: 1px solid;
    border-radius: 3px;
}
button {
    background: #f4a261;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
